.play-area{
    margin-top: -20px;   
    height: 100%;
}

.guess-display{
    text-transform: uppercase;
}

.letter-display{
    text-transform: uppercase;
    font-size: 20pt;
}

.user-text{
    color: red;
    text-transform: uppercase;
    text-align: center;
    
}

.form-and-entry{
    background-color: yellow;
    width: 50%;
    margin-left: 50%;

}

/* Make letter bank capitalized */

.letters-used-bank{
   text-transform: uppercase;
}

.entry-text-display{
    background-color: pink;
    height: 80px;
    width: 100%;
    margin-top: -20%;
}

.letter-graveyard{
    margin-top: 10%;
    /* width: 20%; */
    /* background-color: red; */
}

.grey-block{
    background-color: grey;
    margin-top: 10px;
    width: 55px;
    height: 35px;
}

.green-block{
    background: green;
    margin-top: 10px;
    width: 55px;
    height: 35px;
}

.yellow-block{
   background-color: yellow;
    margin-top: 10px;
    width: 55px;
    height: 35px;
}

.grid-col{
    /* background-color: green;
    margin-left: 30%;
    width: 90%; */
}

.game-board{
    height: 200px;
    /* background-color: red; */
    /* margin-right: -35%; */
}

/* Mobile */

@media only screen and (max-width: 600px) {
    .game-board{
        /* background-color: red; */
        /* margin-right: -35%; */
        height: 315px;
    }

    .letter-graveyard{
        margin-top: 0%;
    }

    .grid-col{
        background-color: white;
        margin-left: 1.5%;
        margin-right: -85px;
        width: 30%;
        /* outline: 1px yellow solid; */
        /* margin-left: 20%;
        width: 25%; */
        /* height: 70%; */
    }

    .grid-row{
        width: 150%;
        margin-left: 0%;
    }
    
    
    .entry-text-display{
        /* background-color: pink;
        height: 80px;
        width: 152px; */
        margin-right: 60%;
        margin-top: 0%;
    }

    .letter-display{
        text-transform: uppercase;
        /* /* font-size: 20pt; */
        margin-left: -20px;
    }

    .form-and-entry{
    
    /* width: 100%; */
    margin-left: 0%;
    background-color: yellow;
    width: 100%;
    }    

    .grey-block{
    background-color: grey;
    margin-top: -10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding-left: 20px;
    /* padding-right: 20px; */
    outline: 1px solid black;
    /* padding-right: 20px; */
    }
    
    .green-block{
    background: green;
    margin-top: -10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding-left: 20px;
    /* padding-right: 20px; */
    outline: 1px solid black;
    }
    
    .yellow-block{
    background-color: yellow;
    margin-top: -10px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding-left: 20px;
    /* padding-right: 20px; */
    outline: 1px solid black;
    }
  }