.guess-display{
    text-transform: uppercase;
}

.grid-space{
    outline: 5px solid yellow;
}

.grey-block{
    background-color: grey;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

.green-block{
    background: green;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

.yellow-block{
   background-color: yellow;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}

.grid-row{
    width: 90%;
    margin-left: 5%;
}